.based-on-taste{
    width: 100%;
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    /* background-color: burlywood; */

    .based-on-taste-center{
        width: var(--widthBanner);
        height: inherit;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: flex-end;
        /* background-color: chartreuse; */
        border: 1px lightgray solid ;
        border-radius: 15px;
        box-sizing: border-box;
        .based-on-taste-line{
            width: 25%;
            height: inherit;
            display: flex;
            flex-flow: row wrap;
            
            justify-content: center;
            align-items: center;
            row-gap: 10px;
            /* background-color: aqua; */
            .line-text{
                width: 100%;
                height: 12%;
                display: flex;
                flex-flow: column wrap;
                row-gap: 5px;
                margin-top: 10px;
                padding-right: 25px;
                h5{
                    height: fit-content;
                    font-size: 23px;
                    font-family: var(--fontFamily);
                    font-weight: 550;
                    color: #2b2b2be0;

                }
                span{
                    height: fit-content;
                    font-size: 12px;
                    font-family: var(--fontFamily);
                    color: rgb(158, 158, 158);
                    /* font-weight: bold; */

                }

            }

            .line-element{
                width: 100%;
                height: 70%;
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-items: center;
                /* column-gap: 20px; */

                .line-top , .line-botton{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: center;
                    align-content: center;
                    /* column-gap: 15px; */

                    .images{
                        
                        padding: 8px;
                        img{
                            width: 130px;
                            height: 130px;
        
                        }
                    }
                }




            }

            .line-more{
                width: 100%;
                height: 5%;
                
                a{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                }
                span{
                    color: #19bfd3;
                    font-size: 15px;
                    font-family: var(--fontFamily);
                }
                img{
                    width:18px ;
                    height: 18px;
                }

            }
        }




    }
}

.borderLeft{
    border-left: 1px solid lightgray;
    /* width: 420px; */
    
}

.borderinsideLeft{
    border-left: 1px solid lightgray;
    height: 145px;

}
.borderinsideBotton{
    border-bottom: 1px solid lightgray;
    /* width: 135px; */
    
}
