.shop-by-category{
    width: 100%;
    height: 395px;
    display: flex;
    justify-content: center;
    align-items: center;

    .shop-by-category-center{
        width: var(--widthBanner);
        height: inherit;
        display: flex;
        flex-flow: row wrap;
        
        justify-content: center;
        align-items: center;

        .shop-by-category-title{
            width: 100%;
            height: 69px;
            display: flex;
            align-items: center;
            justify-content: center;
            
            .title{
                font-family: var(--fontFamily);
                font-size: 27px;
                text-align: center;
                font-weight: normal;
            }
        }

        .shop-by-category-item{
            width: 100%;
            height: 326px;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            

            .list-item-first , .list-item-second{
                width: 100%;
                height: 163px;
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
                column-gap: 30px;
                .item-link{
                    width: 108px;
                    height: 134px;
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    row-gap: 10px;
                    img{
                        width: 100px;
                        height: 100px;
                        object-fit: cover;
                    }
                    span{
                        font-size: 16px;
                        height: 108px;
                        font-family: var(--fontFamily);
                        font-weight: normal;
                        color: black;
                        text-align: center;
                        /* overflow: hidden; */
                        /* -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                        display: -webkit-box; */
                    }
                }

               
            }

        }
    }

}