body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 900px;
}

.register-div {
  width: 400px;
  height: 460px;
  border: 1px solid lightgray;
  border-radius: 7px;

  .svg {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;

    .register-logo {
      width: 100px;
    }
  }

  .multi-text {
    width: 100%;
    height: 50px;
    display: flex;
    flex-flow: row nowrap;
    column-gap: 10px;
    align-items: center;
    direction: rtl;
    padding-right: 30px;

    .multi-text-empty {
      width: 1px;
      height: 20px;
      background-color: black;
    }

    .multi-text-entry {
      font-family: var(--MyFont);
      font-size: 16px;
      font-weight: bold;
    }

    .multi-text-register {
      font-family: var(--MyFont);
      font-size: 16px;
      font-weight: bold;
    }
  }

  .description {
    width: 100%;
    height: fit-content;
    padding-right: 30px;
    direction: rtl;
    margin-bottom: 20px;
    margin-top: 20px;

    .description-hi {
      display: block;
      font-family: var(--MyFont);
      font-size: 12px;
      color: rgb(106, 104, 104);
      margin-bottom: 10px;
    }

    .description-description {
      display: block;
      font-family: var(--MyFont);
      font-size: 12px;
      color: rgb(106, 104, 104);
    }
  }

  .input {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;

    .input-inner-div {
      width: 340px;
      height: inherit;
      direction: rtl;

      form {
        input[type="text"] {
          width: 340px;
          height: 50px;
          border: 2px solid lightblue;
          border-radius: 7px;
          direction: rtl;
          padding: 20px;
          margin-bottom: 5px;

          &:focus {
            outline: 2px solid #ef4056;
            border: none;
          }

          &:focus ~ span {
            display: inline;
          }
        }

        span {
          margin-top: 5px;
          direction: rtl;
          font-family: var(--fontfamiy);
          font-size: 12px;
          color: #ef4056;
          display: none;
        }
      }
    }
  }
  a{
    text-decoration: none;
  }
  .enter {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    text-decoration: none;

    a {
      .enter-inner-div {
        width: 340px;
        height: 50px;
        background-color: #ef4056;
        border-radius: 7px;
        display: flex;
        justify-content: center;
        align-items: center;

        span {
          font-family: var(--fontfamiy);
          font-size: 15px;
          color: whitesmoke;
        }
      }
    }
  }

  .codition {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    padding-right: 30px;
    direction: rtl;

    .text-part-1,
    .conditon-link .text-part-2,
    .text-part-3,
    .rules-link .text-part-4,
    .text-part-5 {
      font-family: var(--fontfamiy);
      font-size: 11px;
    }

    .conditon-link,
    .rules-link {
      text-decoration: none;
    }

    .conditon-link .text-part-2,
    .rules-link .text-part-4 {
      color: rgb(53, 172, 212);
    }
  }
}
